<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Submit your program for testing.</h1>
    <h2>(it will be converted to uppercase)</h2>
    <form action="." method=post enctype="multipart/form-data">
        <p>
        <input type="radio" name="team" id="team1" value="team1"> Team 1 </input><br>
        <input type="radio" name="team" id="team2" value="team2"> Team 2 </input><br>
        <input type="radio" name="team" id="team3" value="team3"> Team 3 </input><br>
        </p>

        <p>
        <input type="radio" name="lang" id="python" value="python"> Python </input><br>
        <input type="radio" name="lang" id="java" value="java"> Java </input><br>
        <input type="radio" name="lang" id="c++" value="c++"> C++ </input><br>
        </p>

        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
    </form>
</body>
</html>